
/* サイト全体CSS */

#my
{
    color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    text-align: center;
    padding: 8px;
    font-size: 32px;
}
body{
    background-color: #d3d3d3  ;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;





    }

/* #main
{
    　　top: 0;
    　　　left: 20px;
    　　　padding: 8px;
    　　　z-index: 1;
    　　　overflow: auto;
    　　　box-sizing: border-box;
} */
